@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

.root {
  --common-blue-clr: #0d6efd;
  --common-dark-blue-clr: #0a4eb4;
}

.common_grey {
  color: #b6b2b2;
}

a {
  text-decoration: none !important;
}

input {
  background-color: transparent !important;
}
input:focus-visible {
  outline: none;
  /* border-bottom: 1px solid black !important; */
}

/* textarea:focus-visible {
  border-color: transparent !important;
  outline-color: transparent !important;
} */

.messge_field {
  border-color: transparent !important;
  outline-color: transparent !important;
}
.messge_field:focus-visible {
  outline: none;
}
.ouline_none:focus-visible {
  outline: none;
}

.common_section {
  margin: 50px 0;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_SB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.uplaod_btn:active {
  background-color: #0a4eb4;
}

.form_container {
  max-width: 50%;
}
@media (max-width: 1200px) {
  .form_container {
    max-width: 75%;
  }
}

@media (max-width: 768px) {
  .form_container {
    max-width: 90%;
  }
}

.custom_navbar {
  background-color: transparent;
}

.common_container {
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1140px !important;
}

/* DROPDOWN TOGGLE NOTCH */
.dropdown-toggle::after {
  content: "";
  display: none !important;
}

/* SWITCH  */
.form-switch .form-check-input {
  --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e) !important;
  opacity: 0.3; /* Overall opacity */
  border: 1px solid rgba(255, 255, 255, 1) !important; /* Solid border with full opacity */
}

.form-switch .form-check-input:checked {
  border: 1px solid #fff;
  opacity: 1;
}
